<h1>Cart#index</h1>
<p>Find me in app/views/cart/index.html.erb</p>
<%= link_to 'Empty your cart', cart_clear_path %>
<ul>
  <% total = 0 %>
<% @cart.each do |id, quantity| %>
<% product = Product.find_by_id(id) %>
  <li>
    <%= link_to product.title, product %>
    <%= number_to_currency product.price, unit: '$' %>
    <%= 'quantity '+quantity.to_s %>
  </li>
      <% total += quantity * product.price %>
<%end%>
</ul>
<b><%= "Total: #{total}" %></b>