<%= stylesheet_link_tag 'admin_panel' %>
  <div class="side-menu" style="margin-top: -30px;">
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-header">
      <%= link_to admin_root_path do %>
      <div class="brand-wrapper">
          <div class="brand-name-wrapper">
          <div class="navbar-brand">Admin</div>
          </div>
      </div>
        <%end%>
  </div>

  <!-- Main Menu -->
  <div class="side-menu-container">
      <ul class="nav navbar-nav">
          <li><%= link_to 'Products', admin_products_path %></li>
          <li><%= link_to 'Categories', admin_categories_path %></li>
          <!-- Dropdown-->
          <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#dropdown-lvl1">
                  <span class="glyphicon glyphicon-user"></span> Sub Level <span class="caret"></span>
              </a>
              <!-- Dropdown level 1 -->
              <div id="dropdown-lvl1" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul class="nav navbar-nav">
                          <li><a href="#">Link</a></li>
                          <li><a href="#">Link</a></li>
                          <li><a href="#">Link</a></li>

                          <!-- Dropdown level 2 -->
                          <li class="panel panel-default" id="dropdown">
                              <a data-toggle="collapse" href="#dropdown-lvl2">
                                  <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                              </a>
                              <div id="dropdown-lvl2" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <ul class="nav navbar-nav">
                                          <li><a href="#">Link</a></li>
                                          <li><a href="#">Link</a></li>
                                          <li><a href="#">Link</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Link</a></li>
          <li><%= link_to 'Sign out', destroy_admin_session_path, method: :delete %></li>
      </ul>
    </div>
      </nav>
</div>
