
<%= form_for @category do |f| %>
<div class="field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<%= f.submit %>
<%end%>
<%= link_to 'back', root_path %>
<%= link_to 'Show', @category %>
