    <% Product.all.each_with_index do |product, i| %>
    <%if (i%4 == 0) %>
    <div class="row">
    <%end%>
    <div class="col-sm-3">
    <%= link_to product do %>
          <%= image_tag product.images.take.link, class: 'product_images_links' %><br>
          <%= "#{product.title} $#{product.price}" %>
        <%end%><br>
        <%= link_to 'Add to cart', cart_add_path(product) %>
        </div>
        <%if (i%4 == 3) %>
        </div>
        <%end%>
    <% end %>
 

<br>
<br>
<%= link_to 'New Product', new_product_path %>
