<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.title %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>
<p>
<strong>Images:</strong>
<% @product.images.each do |x| %>
<p><%= image_tag x.link, {style: "height: 393px; width: 590px;"} %></p>
<%end%>
</p>
<%= render 'comments' %>
<p>
  <% if user_signed_in? %>
<%= render 'add_comment' %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
