 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'products' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<%= stylesheet_link_tag 'products_show' %>
<%= stylesheet_link_tag 'menu' %>
<div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <% @product.images.each_with_index do |f, i| %>
                <div class="tab-pane<%if i == 0%> active<%end%>" id=<%="pic-#{i+1}"%>>
                  <%= image_tag f.link, class: 'slider-image' %>
                </div>
              <%end%>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
            <% @product.images.each_with_index do |f, i| %>
                <% if i == 0 %>
                <li class="active" style=" width: <%= 90.0/@product.images.count %>%;margin-right: <%= 10.0/@product.images.count %>%">
                <%else%>
                <li style=" width: <%= 90.0/@product.images.count %>%;margin-right: <%= 10.0/@product.images.count %>%">
                <%end%>
                  <%= link_to '#', 'data-target': "#pic-#{i+1}", 'data-toggle': 'tab' do %>
                  <%= image_tag f.link  %>
                  <%end%>
                </li>
              <%end%>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title"><%= @product.title %></h3>
            <div class="rating">
              <span class="review-no">41 reviews</span>
            </div>
            <% if @product.properties.where(name: 'color').any? %>
            <div class="colors">
              <div class="row">
              <div class="col-sm-2 col-md-2 mt-5">
            <span>colors:</span>
             </div>
             <div class="col-sm-10 col-md-10">
              <% @product.product_group.properties.where(name: 'color').to_a.uniq(&:title).each do |f| %>
              <% if f.title == @product.properties.where(name: 'color').take.title %>
                <%= link_to product_path(f.value.to_i), class: 'c-active', style: 'background:'+"#{f.title}"  do %>
                <%end%>
              <%elsif @product.product_group.find_product(properties: @product.properties, element: f) != -1 %>
              <%= link_to product_path(@product.product_group.find_product(properties: @product.properties, element: f)), class: 'color', style: 'background:'+"#{f.title}" do %>
              <%end%>
              <%end%>
              <%end%>
              </div>
              </div>
            <%end%>
           <% if @product.product_group.properties.where.not(name: 'color').any? %>
             <% @product.product_group.properties.where.not(name: 'color').to_a.uniq(&:name).each do |f| %>
                 <div class="row">
                 <div class="col-sm-2 mt-5">
                     <%= f.name %>:
                   </div>
                   <div class="col-sm-10">
                 <% @product.product_group.properties.where(name: f.name).to_a.uniq(&:title).each do |x| %>
                   <% if x.title == @product.properties.where(name: x.name).take.title %>
                     <%= link_to product_path(x.value.to_i), class: 'proper-box-active' do %>
                       <span data-toggle="tooltip" title="<%= x.title %>"><%= x.title %></span>
                     <%end%>
                   <%elsif @product.product_group.find_product(properties: @product.properties, element: x) != -1  %>
                     <%= link_to product_path(@product.product_group.find_product(properties: @product.properties, element: x)), class: 'proper-box' do %>
                       <span class="size" data-toggle="tooltip" title="<%= x.title %>"><%= x.title %></span>
                     <%end%>
                   <%end%>
                 <%end%>
               </div>
                </div>
             <%end%>
           <%end%>
         <div class="row">
            <p class="product-description"><%= @product.description %></p>
            <div class="row">
              <div class="col-md-4">
            <p class="price">Цена: <span>$<%= @product.price %><span></p>
              </div>
              <div class="col-md-8">
            <%= link_to cart_add_path(@product) do %>
                  <button type="button" class="btn btn-success add-cart-btn" style="text-decoration: none"><%= image_tag 'Add_to_Cart-512.png', class: 'cart-ico'%> Купить
                 </button>
                 <%end%>
              </div>
            </div>
          </div>
        </div>
    </div>
      </div>
        </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <nav id="navigation">
      				<ul id="main-menu">
      					<li onclick="showFront()" class="current-menu-item" id="frontB"><span>Витрина</span></li>
      					<li onclick="showProper()" id="propB"><span>Характеристики</span></li>
                <li onclick="showComments()" id="commentB"><span>Отзывы</span></li>
      				</ul>
      			</nav>
          </div>
            </div>
            <div class="row">
              <div class="col-md-12" id ="front">
                <div class="tab_box tabs_class">
            <div class="stabs">
                <div class="item tabt current" tabl="tab1">Витрина</div>
                <div class="item tabt" tabl="tab2">Характеристики</div>
                <div class="item tabt" tabl="tab3">"Must Have" аксессуары</div><div class="item tabt disqus-comment-count" tabl="tab4" id="disqus-comment-count" data-disqus-identifier="376456">Отзывов 22</div><div class="item tabt service_pro_tab apptotab" tabl="tab7">Цитрус Мастер</div></div>

            <div class="tabs_content">
                <div class="tab_all" id="tab1" itemprop="description" style="display: block;"><div align="center">
	 <iframe title="Обзор планшетов и ультрабуков Chuwi. Гаджетариум #155" src="//www.youtube.com/embed/Q0K8aPfEXmo?feature=oembed" allowfullscreen="" width="853" height="480" frameborder="0">
</iframe>
</div>
 <br>
 <br>
<h3>Ультратонкий и оригинальный IPS экран </h3>
<p>
	 Chuwi Hi12 оснащен 12-дюймовым дисплеем, который построен на матрице IPS с максимальными углами обзора и разрешением 2160 x 1440 пикселей. Изображения на экране выглядят естественными и яркими.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/a32/sbg78.jpg" width="750" height="403"><br>
</p>
 <br>
 <br>
<h3>Цельнометаллический дизайн </h3>
<p>
	 Ультратонкий (8.9 мм) и полностью металлический корпус наделяет планшет изысканностью и простотой.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/a6d/Hi12_03.jpg" width="900" height="531"><br>
</p>
 <br>
 <br>
<h3>Процессор Intel Cherry Trail </h3>
<p>
	 За скорость выполнения всех вычислительных задач в планшете отвечает 4-ядерный процессор от Intel, способный работать на тактовой частоте 1.84 ГГц. Совместно с этим планшет использует 4 Гб оперативной памяти и 64 Гб встроенной памяти. С планшетом Chuwi Hi12 легко и удобно смотреть фильмы, путешествовать по Интернету и играть в игры.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/ee8/Hi12_05.jpg" width="900" height="431"><br>
</p>
 <br>
 <br>
<h3>Графика нового поколения </h3>
<p>
	 За плавность графики в устройстве отвечает ускоритель Intel HD Graphics 8-го поколения.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/547/Hi12_0623.jpg" width="700" height="526"><br>
</p>
 <br>
 <br>
<h3>Двойной полноценный USB интерфейс</h3>
<p>
	 USB3.0+микро USB+выход HDMI+ Док-станция третьего поколения.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/550/Hi12_07.jpg" width="900" height="474"><br>
</p>
 <br>
 <br>
<h3>Планшет и ноутбук в одном устройстве </h3>
<p>
	 Chuwi Hi12 – двуликий планшет, способный трансформироваться в зависимости от вашего выбора и обстоятельств. Chuwi Hi12 синхронизируется <a target="_blank" href="http://www.citrus.ua/shop/goods/tabletpc/3305/377565">со съемной магнитной клавиатурой</a>, которая качественно улучшит вашу работу с устройством.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img alt="hibook_a1_7.jpg" src="/upload/medialibrary/214/hibook_a1_7.jpg" title="hibook_a1_7.jpg" width="900" height="557"><br>
</p>
 <br>
 <br>
<h3>Запишите детали в жизни </h3>
<p>
	 Производитель позаботился о всех тех, кто не мыслит жизни без возможности фотографировать всё происходящее вокруг — в планшете для этих целей установлены две камеры: фронтальная 2 Мп и основная 5 Мп.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/f0e/Hi12_09.jpg" width="900" height="463"><br>
</p>
 <br>
 <br>
<h3>Мощный аккумулятор и интеллектуальное управление питания </h3>
<p>
	 Chuwi Hi12 оснащен мощным аккумулятором 11000 мАч и технологией быстрой зарядки с низким энергопотреблением.
</p>
 <br>
 <br>
<p style="text-align: center;">
 <img src="/upload/medialibrary/db6/hibook_a1_010.jpg">
</p>
 <br>
<p>
 <span style="color: #959595; font-size: 8pt;">*результат зависит от условий использования</span>
</p>
 <br></div>
                <div class="tab_all" id="tab2" style="display: none;"><table class="ggg5" border="0" width="100%"><tbody><tr><td class="ggg6" valign="top"><h2>Дисплей</h2>
<ul>
	<li>Дисплей IPS с диагональю 12"</li>
	<li>
	Разрешение: 2160 x 1440</li>
	<li>
	Тип сенсорного дисплея: емкостный</li>
</ul>
 <br>
 <br>
<h2>Процессор</h2>
<ul>
	<li>4-ядерный процессор Intel Cherry Trail Z8300 с частотой 1.84 ГГц</li>
	<li>
	Графика: Intel HD Graphic (Gen 8)</li>
</ul>
 <br>
 <br>
<h2>Операционная система</h2>
<ul>
	<li>Windows 10 + Android 5.1<br>
 </li>
</ul>
 <br>
 <br>
<h2>Память</h2>
<ul>
	<li>Оперативная память: 4 Гб</li>
	<li>
	Встроенная память: 64 Гб</li>
	<li>
	Поддержка карт памяти microSD объемом до 64 Гб</li>
</ul>
 <br>
 <br>
<h2>Камера</h2>
<ul>
	<li>Основная камера: 5 Мп</li>
	<li>
	Фронтальная камера: 2 Мп</li>
</ul>
 <br>
 <br>
<h2></h2></td><td class="ggg4" valign="top"><h2>Беспроводные коммуникации</h2>
<ul>
	<li>Wi-Fi 802.11 b/g/n</li>
	<li>
	Bluetooth</li>
</ul>
 <br>
 <br>
<h2>Подключения</h2>
<ul>
	<li>Слот для карт microSD, Разъем для micro-USB, Разъём USB (USB 2.0 USB 3.0), micro HDMI, Разъем для наушников 3.5 мм, Док-станция</li>
</ul>
 <br>
 <br>
<h2>Аккумулятор</h2>
<ul>
	<li>Емкость: 11000 мАч</li>
</ul>
 <br>
 <br>
<h2>Физические характеристики</h2>
<ul>
	<li>Размеры: 296.7 х 202.8 х 8.9 мм</li>
	<li>
	Вес: 852 г</li>
</ul><h2></h2></td></tr></tbody></table><br><center><strong>Производитель оставляет за собой право изменять комплектацию без уведомления.</strong></center><center><strong>Объем доступной памяти может быть меньше указанного, так как часть памяти используется операционной системой устройства и предустановленным программным обеспечением.</strong></center></div>
                <div class="tab_all" id="tab3" style="display: none;"></div>
                <div class="tab_all" id="tab4" style="display: none;"><div style="margin: 0px 0px 30px;">
 <b>Уважаемые клиенты, </b>данный раздел предназначен исключительно для отзывов о товаре, комментарии по другим вопросам не публикуются. Оперативно получить ответы на вопросы по статусу заказа / предзаказа / ремонта, качеству обслуживания и прочим вопросам вы можете следующим удобным для вас способом:<br>
 <br>
 <b>Позвонить по номерам (бесплатно):</b><br>
	 0 800 20 70 20 - Оформление заказа / статус заказа / оплата / доставка<br>
	 0 800 20 70 30 - Служба поддержки клиентов<br>
	 0 800 200 170&nbsp; - Сервисный центр Цитрус<br>
 <br>
 <b>Заполнить форму</b> обратной связи <a href="http://www.citrus.ua/support/">http://www.citrus.ua/support/</a><br>
 <br>
	 Отправляя комментарий / отзыв на сайте citrus.ua <b>вы соглашаетесь</b> с правилами <a style="color:#2f7a00;" href="http://www.citrus.ua/rules/217159/" target="_blank">модерации комментариев и отзывов</a>.<br>
 <br>
	 Спасибо!
</div>
<br><div id="disqus_thread"></div>
                </div><div class="tab_all apptocont" id="tab7" style="display: none;"></div></div>
        </div>
              </div>
              <div class="col-md-12" id ="proper" style="display: none">
                <div class="tab_all" id="tab2" style="display: block;"><table class="ggg5" border="0" width="100%"><tbody><tr><td class="ggg6" valign="top"><h2>Дисплей</h2>
<ul>
	<li>Дисплей IPS с диагональю 12"</li>
	<li>
	Разрешение: 2160 x 1440</li>
	<li>
	Тип сенсорного дисплея: емкостный</li>
</ul>
 <br>
 <br>
<h2>Процессор</h2>
<ul>
	<li>4-ядерный процессор Intel Cherry Trail Z8300 с частотой 1.84 ГГц</li>
	<li>
	Графика: Intel HD Graphic (Gen 8)</li>
</ul>
 <br>
 <br>
<h2>Операционная система</h2>
<ul>
	<li>Windows 10 + Android 5.1<br>
 </li>
</ul>
 <br>
 <br>
<h2>Память</h2>
<ul>
	<li>Оперативная память: 4 Гб</li>
	<li>
	Встроенная память: 64 Гб</li>
	<li>
	Поддержка карт памяти microSD объемом до 64 Гб</li>
</ul>
 <br>
 <br>
<h2>Камера</h2>
<ul>
	<li>Основная камера: 5 Мп</li>
	<li>
	Фронтальная камера: 2 Мп</li>
</ul>
 <br>
 <br>
<h2></h2></td><td class="ggg4" valign="top"><h2>Беспроводные коммуникации</h2>
<ul>
	<li>Wi-Fi 802.11 b/g/n</li>
	<li>
	Bluetooth</li>
</ul>
 <br>
 <br>
<h2>Подключения</h2>
<ul>
	<li>Слот для карт microSD, Разъем для micro-USB, Разъём USB (USB 2.0 USB 3.0), micro HDMI, Разъем для наушников 3.5 мм, Док-станция</li>
</ul>
 <br>
 <br>
<h2>Аккумулятор</h2>
<ul>
	<li>Емкость: 11000 мАч</li>
</ul>
 <br>
 <br>
<h2>Физические характеристики</h2>
<ul>
	<li>Размеры: 296.7 х 202.8 х 8.9 мм</li>
	<li>
	Вес: 852 г</li>
</ul><h2></h2></td></tr></tbody></table><br><center><strong>Производитель оставляет за собой право изменять комплектацию без уведомления.</strong></center><center><strong>Объем доступной памяти может быть меньше указанного, так как часть памяти используется операционной системой устройства и предустановленным программным обеспечением.</strong></center></div>
              </div>
              <div class="col-md-12" id ="commet" style="display: none">
                <div class="col-md-6 comments-title">
              <%= render 'comments' %>
              <% if user_signed_in? %>
              <%= render 'add_comment' %>
              <%end%>
                </div>
              </div>
            </div>
          </div>
