 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'products' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<%= stylesheet_link_tag 'products_show' %>
<div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <% @product.images.each_with_index do |f, i| %>
                <div class="tab-pane<%if i == 0%> active<%end%>" id=<%="pic-#{i+1}"%>>
                  <%= image_tag f.link, class: 'slider-image' %>
                </div>
              <%end%>
            </div>

            <ul class="preview-thumbnail nav nav-tabs">
            <% @product.images.each_with_index do |f, i| %>
                <% if i == 0 %>
                <li class="active" style=" width: <%= 90.0/@product.images.count %>%">
                <%else%>
                <li style=" width: <%= 90.0/@product.images.count %>%">
                <%end%>
                  <%= link_to '#', 'data-target': "#pic-#{i+1}", 'data-toggle': 'tab' do %>
                  <%= image_tag f.link %>
                  <%end%>
                </li>
              <%end%>

            </ul>


          </div>
          <div class="details col-md-6">
            <h3 class="product-title"><%= @product.title %></h3>
            <div class="rating">
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description"><%= @product.description %></p>
            <h4 class="price">Цена:  <span>$<%= @product.price %></span></h4>
            <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
            </h5>
            <h5 class="colors">colors:
              <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
              <span class="color green"></span>
              <span class="color blue"></span>
              <br>
              <br>
               <%= link_to cart_add_path(@product) do %>
 <button type="button" class="btn btn-success add-cart-btn" style="text-decoration: none"><%= image_tag 'Add_to_Cart-512.png', class: 'cart-ico'%> В корзину
                    </button>
                    <%end%>
            </h5>
          </div>
        </div>
      </div>
      <%= render 'comments' %>
      <% if user_signed_in? %>
      <%= render 'add_comment' %>
      <%end%>
    </div>
