<!DOCTYPE html>
<html>
  <head>
    <title>Rshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav id="nav">
    <div id="page-nav">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Shop', products_path %>
        <%= link_to 'About', page_about_path %>
        <%= link_to 'Contact', page_contact_path %>
      <div id="sign_in">
        <% if user_signed_in? %>
            <%= link_to  'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to  'Sign in', new_user_session_path %>
            <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </nav>
  <div id="main_wrap">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
