<!DOCTYPE html>
<html>
  <head>
    <title>Rshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class='<%= controller.controller_name %>'>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="row navbar-inner">
    <div class="navbar-header">
     <b> <%= link_to 'IStore', root_path, class: 'navbar-brand'%></b>
    </div>
    <ul class="nav navbar-nav">
    <% Category.all.each do |f|  %>
        <li><%= link_to f.title, f %></li>
    <%end%>
    </ul>
    <ul class = "nav navbar-nav navbar-right">
    <li style="margin-right:100px;"><%=link_to cart_path do %>
        <span class="glyphicon glyphicon-shopping-cart"></span> Cart
      <%end%>
    </li>
    <% if user_signed_in? %>
<span class="navbar-text"><%= current_user.email[0, current_user.email.index('@')] %></span>
    <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
    <span class="glyphicon glyphicon-log-out"></span> Sign out
      <%end%>
    </li>
    <%else%>
      <li><%= link_to new_user_registration_path do %>
        <span class="glyphicon glyphicon-user"></span> Sign up
        <%end%>
      </li>
        <li><%= link_to new_user_session_path do %>
        <span class="glyphicon glyphicon-log-in"></span> Sign in
          <%end%>
        </li>
    <%end%>
    </ul>
  </div>
  </nav>
  <div id="main_wrap" class="container">
    <p class="notice" style="color: #0000"><%= notice %></p>
    <p class="alert" style="color: #0000"><%= alert %></p>
    <%= yield %>
    <div>
  </body>
</html>
